### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [64]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [46]:
# Compute number of schoos and students. Probably did not need the .unque after the students, but 
# added it just in case there is a student in more than one school, which is possible
no_schools=len(school_data_complete["School ID"].unique())
no_students=len(school_data_complete["Student ID"].unique())

In [47]:
# Compute total budget, used the original data file 
total_budget=school_data["budget"].sum()

In [48]:


# Compute average math and reading scores
avg_math=school_data_complete["math_score"].mean()
avg_reading=school_data_complete["reading_score"].mean()

In [49]:
# Compute passing rates
# I would not have interpreted overall passing rate as the average of the scores, but 
# the percentage of students who passed both reading and math, but I am following directions here.
pass_rate=(avg_math+avg_reading)/2
pass_math=school_data_complete["math_score"].ge(70)
no_pass_math=0
for i in pass_math:
    if i: no_pass_math += 1
pct_math=no_pass_math/no_students
pass_reading=school_data_complete["reading_score"].ge(70)
no_pass_reading=0
for i in pass_reading:
    if i: no_pass_reading += 1
pct_reading=no_pass_reading/no_students

In [50]:
# Create a dataframe to hold above results
hold_df=pd.DataFrame({"Schools":[no_schools],
    "Students":[no_students],"Budget":[total_budget],
    "Average Math Score": [avg_math],"Average Reading Score":[avg_reading],
    "Overall Passing Rate":[pass_rate],"Percent Passing Math":[pct_math],
    "Percent Passing Reading":[pct_reading]})

# Optional formatting of dataframe holding results
hold_df_formatted=pd.DataFrame({"Schools":[no_schools],
    "Students":'{:,}'.format(no_students),"Budget":'$'+'{:,}'.format(total_budget),
    "Average Math Score": '{:6.2f}'.format(avg_math),"Average Reading Score":'{:6.2f}'.format(avg_reading),
    "Overall Passing Rate":'{:6.2f}'.format(pass_rate),"Percent Passing Math":'{:.2%}'.format(pct_math),
    "Percent Passing Reading":'{:.2%}'.format(pct_reading)})

In [51]:
hold_df.head()

,Schools,Students,Budget,Average Math Score,Average Reading Score,Overall Passing Rate,Percent Passing Math,Percent Passing Reading
0,15,39170,24649428,78.985371,81.87784,80.431606,0.749809,0.858055

In [52]:
hold_df_formatted.head()

,Schools,Students,Budget,Average Math Score,Average Reading Score,Overall Passing Rate,Percent Passing Math,Percent Passing Reading
0,15,"39,170","$24,649,428",78.99,81.88,80.43,74.98%,85.81%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [63]:
# group by school
sch_dat=school_data_complete
sch_dat.rename(columns={"school_name":"School","reading_score":"Reading Score",
                                     "math_score":"Math Score","size":"Size",
                                     "budget":"Budget","type":"School Type","grade":"Grade"})
sch_dat.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [ ]:
school_group=school_data_complete.groupby(['school_name']).mean()
school_group["Type of School"]=type
school_group.head()

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.